# Appwrite Public (Frontend)
NEXT_PUBLIC_APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
NEXT_PUBLIC_APPWRITE_PROJECT_ID=6ac3a869001792f82065
NEXT_PUBLIC_APPWRITE_DATABASE_ID=6ac3a89d0004b3918cd0
NEXT_PUBLIC_APPWRITE_COLLECTION_PROPERTIES=properties
NEXT_PUBLIC_APPWRITE_COLLECTION_PRICE_HISTORY=price_history
NEXT_PUBLIC_APPWRITE_COLLECTION_MARKET_ZONES=market_zones
NEXT_PUBLIC_APPWRITE_COLLECTION_USER_ALERTS=user_alerts

# Appwrite Server (API / Cron)
APPWRITE_API_KEY=standard_ed76a99c39d006bbd7815a27097a509ef4bc1ed0d091a5c8cb2b7a8cf366131369517230b1b0f052abef8dc87e394a48ea91b34b8e91dcee5c3f5a0b96b454d4856f8c906eb8029021122276554c09c7aeaded291fa950e468aae737ed9a7e5e90a89a932b42592494bdbb0ec4bf0d8ca31bc3688956101f467cdc3161315863

# Notificações em Tempo Real (Opcional - Telegram & Discord)
TELEGRAM_BOT_TOKEN=8741061446:AAGxr5R4Z1yiN-e94mueZYtz9kkDSbU7_zs
TELEGRAM_DEFAULT_CHAT_ID=5004093342
DISCORD_DEFAULT_WEBHOOK=

# Segredo de seguranca para Vercel Cron
CRON_SECRET=
